*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

a{
    text-decoration: none;
}

.portfolio-content-mobile{
    display: none;
}


/* 🐱‍💻 TELA DE START */

/* general screen style */

.start-screen{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffd500;
}

/* title style */

.start-title-screen{
    display: flex;
    flex-direction: column-reverse;
    filter: drop-shadow(6px 5px 1px #110b2e);
    width: 1100px;
    color: #fff8ed;
    font-size: 4rem;
    text-align: center;
    cursor: default;
    position: relative;
    animation: changeResize 700ms forwards linear alternate;
}

.start-title-screen span{
    font-size: 2rem;
    padding-bottom: 5px;
}

/* button style */

.start-button{
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    top: 10vh;
    border: 3px solid #fff8ed;
    background-color: #110b2e;
    color: #fff8ed;
    transition: 200ms;
    animation: changeResizeButton 700ms forwards linear;
}

.start-button:hover{
    border: 3px solid #110b2e;
    background-color: #fff8ed;
    color: #110b2e;
}

/* 🐱‍🐉 KEYFRAMES TELA DE START*/

/* animation title */

@keyframes changeResize{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

/* animation button start */

@keyframes changeResizeButton{
    from{
        transform: scale(0);
    }
    to{

        transform: scale(1);
    }
}


/* animation click button hide screen start */

.hide-start-screen-animation{
    animation: hiddenStartScreen 400ms forwards linear;
}

@keyframes hiddenStartScreen{
    from{
        height: 100vh;
    }

    to{
        height: 0vh;
    }
}

.hide-title-and-button{
    animation: hiddenTitleAndButton 400ms linear forwards;
}

@keyframes hiddenTitleAndButton{
    from{
        transform: scale(1);
    }
    to{

        transform: scale(0);
    }
}








/* 🐱‍💻 TELA DO PORTFÓLIO */

/* general content style */

.portfolio-general-content{
    background-color: #ffd500;
    width: 100vw;
    height: 100vh;
}

/* about me style  card */
.about-me-content{
    background-color: #110b2e;
    width: 330px;
    height: 650px;
    border: 5px solid#fff8ed;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3vh;
    left: 3vh;
    position: fixed;
    filter: drop-shadow(1px 1px 3px black);
    
}

/* gif pixel art style */

/* ===div */
.me-image-pixel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 4vh;
    left: 6vh;
    width: 230px;
}

/* ===img */
.image-pixel-art{
    width: 230px;
    border: 5px solid #fff8ed;
    border-radius: 20px;
    background-color: #ffd500;
}

/* ===linkedin e github style icon */
.icon-media{
    width: 150px;
    font-size: 40px;
    position: relative;
    left: 50px;
    top: 10px;
    text-align: center;
}

/* ===icon linkedin*/

.icon-lk{
    position: relative;
    right: 4vh;
    color: #fff8ed;
    cursor: pointer;
}

.icon-lk:hover{
    color: #ffd500;
    transform: scale(1.1);
    transition: 400ms;
}


/* ===icon git hub */
.icon-gh{
    color: #fff8ed;
    cursor: pointer;
}

.icon-gh:hover{
    color: #ffd500;
    transform: scale(1.1);
    transition: 400ms;
}

/* about me text */

.text-about-me-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    left: 10px;
    top: 40px;
}

.text-content{
    font-size: 0.8rem;
    margin-top: 20px;
    border-bottom: 3px solid #fff8ed;
    color: #fff8ed;
}

.text-content i{
    font-size: 2rem;
}

.about-me-card-description{
    position: relative;
    font-size: 1.4rem;
    top: 20px;
    width: 300px;
    font-family: 'Fira Sans Condensed', sans-serif;   
    padding: 10px;
    background-color: #fff8ed;
    color: #110b2e;
    border: 3px solid #fff8ed;
    border-radius: 10px;
}






/* NAV BAR STYLE */

.nav-bar-content{
    position: absolute;
    left: 380px;
    display: flex;
    filter: drop-shadow(1px 1px 3px black);
}

.nav-bar-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 466px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
    position: absolute;
    top: 30px;
    color: #fff8ed;
}

.nav-bar-list-item{
    cursor: pointer;
    padding: 10px;
}


/* ABOUT ME NAV BAR STYLE */

.item-about-me{
    border-radius: 10px 10px 0px 0px;
    border: 3px solid #fff8ed;
    background-color: #110b2e;
}

.item-about-me:hover{
    background-color: #615873;
}



/* PROJECTS NAV BAR STYLE */
.item-projects{
    border-radius: 10px 10px 0px 0px;
    border: 3px solid #fff8ed;
    background-color: #110b2e;
}

.item-projects:hover{
    background-color: #615873;
}


/* CONTACT NAV BAR STYLE */

.item-contact{
    border-radius: 10px 10px 0px 0px;
    border: 3px solid #fff8ed;
    background-color: #110b2e;
}


.item-contact:hover{
    background-color: #615873;
}




/* animation show content */

.add-show-animation-content{
    animation: showContentAboutMe 1s 0s forwards linear;
}

.add-show-animation-content-two{
    animation: showContentAboutMe 1s 800ms forwards linear;
}

.add-show-animation-content-three{
    animation: showContentAboutMe 1s 1600ms forwards linear;
}


.add-show-animation-img-note{
    animation: showContentAboutMe 1s 2200ms forwards linear;
}

.add-show-animation-file-dwld{
    animation: showContentAboutMe 1s 3000ms forwards linear;
}
@keyframes showContentAboutMe{

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/* ABOUT ME SCREEN/SQUARE STYLE  */

.about-me-screen{
    background-color: #110b2e;
    border: 3px solid #fff8ed;
    border-radius: 1px 10px 10px 10px;
    width: 960px;
    height: 575px;
    position: relative;
    top: 72px;
    left: 380px;
    display: flex;
    filter: drop-shadow(1px 3px 3px black);
    overflow-x: hidden;
}

/* about me full description */

.about-me-description{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff8ed;
}

.about-me-one{
    width: 500px;
    opacity: 0;
}

.about-me-two{
    width: 500px;
    opacity: 0;
}

.about-me-three{
    width: 540px;
    opacity: 0;
}

.img-note{
    position: relative;
    right: 120px;
    bottom: 70px;
    opacity: 0;
}

.arquivo-download{
    color: #110b2e;
    position: absolute;
    left: 640px;
    top: 470px;
    background-color: #ffd500;
    padding: 15px;
    opacity: 0;
    cursor: pointer;
}

.arquivo-download:hover{
    background-color: #ffe252;
    transition: 300ms;
}





/* PROJECTS SCREEN/SQUARE STYLE */

.projects-screen{
    background-color: #110b2e;
    border: 3px solid #fff8ed;
    border-radius: 1px 10px 10px 10px;
    width: 960px;
    height: 575px;
    position: absolute;
    top: 72px;
    left: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(1px 3px 3px black);
}





/* project jogo da velha */
.project-jogo-da-velha{
    width: 430px;
    height: 250px;
    padding: 15px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 5px black);
    opacity: 0;
}

.project-jogo-da-velha:hover{
    transform: scale(1.1);
    transition: 800ms;
}

.project-jdv{
    width: 400px;
    height: 200px;
}

.project-jdv-title{
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    align-items: center;
    font-size: 0.6rem;
    cursor: default;
    background-color: #fff8ed;
    border-top: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}






/* project jogo da memoria */
.project-jogo-da-memoria{
    width: 430px;
    height: 250px;
    padding: 15px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 5px black);
    opacity: 0;
}

.project-jogo-da-memoria:hover{
    transform: scale(1.1);
    transition: 800ms;
}

.project-jdm{
    width: 400px;
    height: 200px;
}

.project-jdm-title{
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    align-items: center;
    font-size: 0.6rem;
    background-color: #fff8ed;
    border-top: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}















/* project login and register */
.project-login-screen{
    width: 430px;
    height: 250px;
    padding: 15px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 5px black);
    opacity: 0;
}

.project-login-screen:hover{
    transform: scale(1.1);
    transition: 800ms;
}

.project-login{
    width: 400px;
    height: 200px;
}


.project-login-title{
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    align-items: center;
    font-size: 0.6rem;
    background-color: #fff8ed;
    border-top: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}










/* project todo list*/
.project-todo-list{
    width: 430px;
    height: 250px;
    padding: 15px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 5px black);
    opacity: 0;
}

.project-todo-list:hover{
    transform: scale(1.1);
    transition: 800ms;
}

.project-todo{
    width: 400px;
    height: 200px;
}

.project-todo-title{
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    align-items: center;
    font-size: 0.6rem;
    background-color: #fff8ed;
    border-top: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}


/* show projects */

.add-show-content-project-one{
    animation: showContentProjects 500ms 0s linear forwards;
}
.add-show-content-project-two{
    animation: showContentProjects 500ms 400ms linear forwards;
}
.add-show-content-project-three{
    animation: showContentProjects 500ms 800ms linear forwards;
}
.add-show-content-project-four{
    animation: showContentProjects 500ms 1200ms linear forwards;
}

@keyframes showContentProjects{
    to{
        opacity: 1;
    }
}










/* CONTACT SCREEN/SQUARE STYLE */
.contact-screen{
    background-color: #110b2e;
    border: 3px solid #fff8ed;
    border-radius: 1px 10px 10px 10px;
    width: 960px;
    height: 575px;
    position: absolute;
    top: 72px;
    left: 380px;
    display: none;
    align-items: center;
    filter: drop-shadow(1px 3px 3px black);
    overflow: hidden;
}

.contact-me{
    width: 400px;
    height: 510px;
    position: relative;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
}

.visit-name{
    padding: 10px;
    width: 400px;
}

.visit-email{
    padding: 10px;
    width: 400px;
}

.comment-area{
    resize: none;
}

input, textarea{
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px;
}

input:focus, textarea:focus{
    outline: 0;
    border: 2px solid #fff8ed;
    background-color: #ffd500;
    color: #000000;
}

.contact-submit-btn{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #110b2e;
    color: #fff8ed;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff8ed;
}
.contact-submit-btn:hover{
    background-color: #fff8ed;
    color: #110b2e;
    transition: 400ms;
    border: 3px solid #110b2e;
}

.contact-map{
    width: 450px;
    height: 360px;
    position: relative;
    left: 60px;
    bottom: 60px;
    border: 3px solid #292831;
    filter: hue-rotate(40deg);
    border-radius: 10px;
    opacity: 0;
}

.more-contact{
    width: 130px;
    position: absolute;
    top: 450px;
    right: 200px;
    display: flex;
    justify-content: space-around;
    opacity: 0;

}

.more-contact h1{
    font-size: 0.8rem;
    position: absolute;
    width: 500px;
    text-align: center;
    color: #fff8ed;
    cursor: default;
}

.more-contact i{
    cursor: pointer;
    color: #fff8ed;
    font-size: 2rem;
    position: relative;
    top: 40px;
}

.more-contact i:hover{
    color: #ffd500;
    transform: scale(1.1);
    transition: 400ms;
}

.add-show-contact-content{
   animation: showContactContent 800ms 0s linear forwards;
}
.add-show-contact-content-map{
    animation: showContactContentMap 800ms 500ms linear forwards;
 }
 .add-show-contact-content-more{
    animation: showContactContentMore 800ms 1s linear forwards;
 }

@keyframes showContactContent{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes showContactContentMap{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes showContactContentMore{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}











@media screen and (max-width:768px){

    body{
        width: 100vw;
        height: 100vh;
        background-color: #110b2e;
    }

    /* TELA DE START */
    .start-screen{
        display: none;
    }


    /* PORTFOLIO GERAL */
    .portfolio-general-content{
        display: none;
    }

    /* responsividade começa aqui :) */
    .portfolio-content-mobile{
        display: flex;
    }

    /* card sobre mim */
    .about-me-card-mobile{
        width: 100vw;
        height: 100vh;
    }

    /* div da imagem pixel */
    .me-image-pixel-mobile{
        width: 100vw;
        height: 40vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    /* imagem pixel */
    .image-pixel-art-mobile{
        width: 200px;
        background-color: #ffd500;
        border: 3px solid #fff8ed;
        border-radius: 20px;
        left: 50px;

    }
    /* icon linkedin e github */
    .icon-media-mobile{
        display: flex;
        width: 100px;
        justify-content: space-between;
        position: relative;
        left: 12px;
    }

    .icon-media-mobile i{
        font-size: 2.2rem;
    }

    /* sobre mim e descrição */

    .about-me-card-content-mobile{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 95vw;

    }

    .text-content-mobile{
        position: relative;
        left: 15px;
        color: #fff8ed;
        font-size: 1rem;
    }

    .text-content-mobile i{
        font-size: 2rem;
    }

    .about-me-card-description-mobile{
        background-color: #fff8ed;
        width: 90vw;
        position: relative;
        left: 5vw;
        padding: 5px;
        color: #110b2e;
        font-family: 'Fira Sans Condensed', sans-serif;   
        font-size: 1.4rem;
        border-radius: 10px;
    }


    /* sobre mim conteudo da tela */

    .about-me-content-mobile{
        width: 100vw;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    /* titulo sobre mim */
    .title-about-me-mobile{
        color: #fff8ed;
        background-color: #ffd500;
        height: 50px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* texto sobre mim */
    .about-me-content-mobile p{
        font-size: 0.8rem;
        padding: 15px;
        color: #fff8ed;
    }





    
    /* CONTEUDO PROJETOS */

    .projects-content-mobile{
        width: 100vw;
        height: 900px;
    }

    .title-project-mobile{
        color: #fff8ed;
        background-color: #ffd500;
        height: 50px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* jogo da velha */
    .project-jogo-da-velha-mobile{
        padding-left: 20px;
        position: relative;
        top: 20px;
        filter: drop-shadow(3px 3px 4px black);
    }

    .project-jdv-mobile{
        width: 320px;
    }

    .content-title-jdv-mobile{
        background-color: #fff8ed;
        width: 320px;
        border-radius: 0px 0px 10px 10px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-jdv-title-mobile{
        font-size: 0.6rem;
    }   


    /* projeto jogo da memoria */
    .project-jogo-da-memoria-mobile{
        padding-left: 20px;
        position: relative;
        top: 40px;
        filter: drop-shadow(3px 3px 4px black);
    }

    .project-jdm-mobile{
        width: 320px;
    }

    .content-title-jdm-mobile{
        background-color: #fff8ed;
        width: 320px;
        border-radius: 0px 0px 10px 10px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-jdm-title-mobile{
        font-size: 0.6rem;
    }   



    /* projeto tela de login */

    .project-login-screen-mobile{
        padding-left: 20px;
            position: relative;
            top: 60px;
            filter: drop-shadow(3px 3px 4px black);
    }
    
    .project-login-mobile{
            width: 320px;
    }
    
    .content-title-login-mobile{
            background-color: #fff8ed;
            width: 320px;
            border-radius: 0px 0px 10px 10px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
    }
    
    .project-login-title-mobile{
            font-size: 0.6rem;
    }   





    /* projeto todo list */

    .project-todo-list-mobile{
        padding-left: 20px;
        position: relative;
        top: 80px;
        filter: drop-shadow(3px 3px 4px black);
    }

    .project-todo-mobile{
        width: 320px;
    }

    .content-title-todo-mobile{
        background-color: #fff8ed;
        width: 320px;
        border-radius: 0px 0px 10px 10px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-todo-title-mobile{
        font-size: 0.6rem;
    }   

    /* CONTEUDO CONTATO */

    .contact-content-mobile{
        width: 100vw;
        height: 100vh;
    }

    .title-contact-mobile{
        color: #fff8ed;
        background-color: #ffd500;
        height: 50px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* CONTEUDO CONTATO */

    .contact-content-mobile{
        width: 100vw;
        height: 750px;
    }

    .contact-me-mobile{
        position: relative;
        top: 20px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .visit-name-mobile{
        width: 300px;
    }

    .visit-email-mobile{
        width: 300px;
    }

    .comment-area-mobile{
        width: 300px;
        height: 200px;
    }

    .contact-submit-btn-mobile{
        padding: 10px;
        border: 2px solid #fff8ed;
        border-radius: 5px;
        background-color: #292831;
        color: #fff8ed;
    }

    .contact-map-mobile{
        position: relative;
        top: 20px;
        margin-left: 28px;
    }

    .more-contact-mobile{
        position: relative;
        padding-top: 50px;
    }

    .more-contact-mobile h1{
        color: #fff8ed;
        font-size: 0.8rem;
        text-align: center;
    }

    .more-contact-mobile i{
        color: #fff8ed;
        font-size: 3rem;
        position: relative;
        left: 130px;
        padding-top: 10px;
    }
 }







